/dist
/src-bex/www
/src-capacitor
/src-cordova
/.quasar
/node_modules
.eslintrc.js
babel.config.js
/src-ssr
/src/lib/
/src/globals.ts
/pages/*
.github
.husky
.vscode
.git
.gitignore
.eslintcache
.history
server/web-box
db/
server/node_modules
cmd
server/.env
node_modules
dist/
.quasar
.DS_Store
