packages/app/src/core/*.js
packages/extension/dist/**/*
packages/cordova/plugins/**/*
packages/cordova/platforms/**/*
packages/cordova/www/**/*
packages/electron/app/**/*
packages/electron/build/**/*
packages/electron/dist/**/*
packages/tauri/dist/**/*
packages/tauri/src-tauri/target/**/*
packages/tauri/tauri-update.json
packages/pwa/dist/**/*
package-lock.json
cypress/fixtures/**/*
.flatpak-builder/**/*
packages/locale/res/**/*
packages/admin/dist/**/*

assets
.github
.husky
.vscode
.eslintcache
node_modules
**/package*.json
**/yarn.lock
**/.gitignore

.DS_Store
.thumbs.db
node_modules
.vscode
packages/*/node_modules
packages/*/docs
packages/core/lib
packages/billing/lib
packages/frontend/dist
packages/frontend/test/dist
packages/frontend/sw.js
packages/frontend/env.js
packages/internal/db
packages/cordova/platforms
packages/cordova/plugins
packages/cordova/www
packages/cordova/dist
packages/electron/build
packages/electron/app
packages/electron/dist
/.env
packages/pwa/dist
packages/internal/logs
packages/internal/data
packages/internal/attachments
packages/internal/dist
/logs
/pwa
/data
packages/extension/dist
packages/tauri/dist
packages/tauri/src-tauri/icons
packages/tauri/tauri-update.json
.flatpak-builder
packages/admin/dist

# Quasar core related directories
packages/*/.quasar
packages/*/dist

# Cordova related directories and files
packages/*/src-cordova/node_modules
packages/*/src-cordova/platforms
packages/*/src-cordova/plugins
packages/*/src-cordova/www

# Capacitor related directories and files
packages/*/src-capacitor/www
packages/*/src-capacitor/node_modules

# BEX related directories and files
packages/*/src-bex/www
packages/*/src-bex/js/core

# Log files
packages/*npm-debug.log*
packages/*yarn-debug.log*
packages/*yarn-error.log*

# Editor directories and files
packages/*.idea
packages/**.suo
packages/**.ntvs*
packages/**.njsproj
packages/**.sln
packages/sign/data
packages/sign/dist
packages/mockbfl/data
